<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Photo Gallery Share{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-1pZq4KqS1s5p6lVkmPx4m3pG5bq6k/8mUqTj4vI1A0KJ8zvL8wlv7nO4y6QJqkt7" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
  </html>


